@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #ffffff;
  color: #111111;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}

input,
textarea,
button {
  font: inherit;
}
